In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd

In [5]:
print(os.getcwd())
%cd ..

/Users/elizagoler/Documents/senior-thesis/source
/Users/elizagoler/Documents/senior-thesis

In [ ]:
natality_df_68 = pd.read_csv('datastore/raw/nber_nvss_natality/data/natality1968us.csv')

In [8]:
natality_df_68.head()

,datayear,rectype,restatus,stateres,cntyres,cityres,citrspop,smsares,metrores,frace,...,dgestat,gestat10,dbirwt,birwt12,birwt3,dlegit,dplural,plural2,statenat,cntynat
0,8,1,1,1,1020,999,9,0,2,1,...,40,6,3232,7,2,1,1,1,1,1020
1,8,1,1,1,1001,999,9,0,2,1,...,40,6,2892,6,2,1,1,1,1,1001
2,8,1,1,1,1001,999,9,0,2,2,...,34,3,1985,4,1,1,1,1,1,1001
3,8,2,2,1,1026,999,9,0,2,1,...,40,6,3289,7,2,1,1,1,1,1001
4,8,1,1,1,1001,999,9,0,2,9,...,40,6,3742,8,2,1,1,1,1,1001

In [10]:
natality_df_68.columns

Index(['datayear', 'rectype', 'restatus', 'stateres', 'cntyres', 'cityres',
       'citrspop', 'smsares', 'metrores', 'frace', 'mrace', 'crace', 'crace2',
       'crace3', 'csex', 'birmon', 'dmage', 'mage36', 'mage8', 'mage12',
       'dlivord', 'livord9', 'livord3', 'birattnd', 'dgestat', 'gestat10',
       'dbirwt', 'birwt12', 'birwt3', 'dlegit', 'dplural', 'plural2',
       'statenat', 'cntynat'],
      dtype='object')

In [13]:
# Print all unique cntyres codes
unique_cntyres = natality_df_68['cntyres'].unique()

In [14]:
natality_df_69 = pd.read_csv('datastore/raw/nber_nvss_natality/data/natality1969us.csv')

/var/folders/j4/z817ljzd6w99bjqkz9bgh5mh0000gn/T/ipykernel_23574/374703579.py:1: DtypeWarning: Columns (9,51) have mixed types. Specify dtype option on import or set low_memory=False.
  natality_df_69 = pd.read_csv('datastore/raw/nber_nvss_natality/data/natality1969us.csv')

In [15]:
natality_df_69.head()

,datayear,shipnum,reparea,rectype,restatus,stateres,cntyres,cityres,citrspop,smsares,...,legitsmsarflg,educsmsarflg,congenrflg,legitstoflg,educstoflg,lmpoflg,monpreoflg,llboflg,lfdoflg,congenflg
0,9,1,0,1,1,1,1001,999,9,000,...,0,0,1,1,0,0,0,0,0,1
1,9,1,0,2,2,1,1026,999,9,000,...,0,0,1,1,0,0,0,0,0,1
2,9,1,0,1,1,1,1001,999,9,000,...,0,0,1,1,0,0,0,0,0,1
3,9,1,0,1,1,1,1001,999,9,000,...,0,0,1,1,0,0,0,0,0,1
4,9,1,0,1,1,1,1001,999,9,000,...,0,0,1,1,0,0,0,0,0,1

In [16]:
natality_df_80 = pd.read_csv('datastore/raw/nber_nvss_natality/data/natality1980us.csv')

/var/folders/j4/z817ljzd6w99bjqkz9bgh5mh0000gn/T/ipykernel_23574/2837661266.py:1: DtypeWarning: Columns (1,6,7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  natality_df_80 = pd.read_csv('datastore/raw/nber_nvss_natality/data/natality1980us.csv')

In [17]:
natality_df_80.head()

,datayear,shipnum,reparea,rectype,restatus,stateres,cntyres,cityres,citrspop,smsares,...,otermm20,omaps,omapsr,fmaps,fmapsr,origm,origf,recwt,nprev28,nprev12
0,0,6,0,1,1,1,01002,999,9,177,...,0,9,4,10,4,88,88,1,16,9
1,0,6,0,1,1,1,01002,999,9,177,...,0,9,4,10,4,88,88,1,21,11
2,0,6,0,1,1,1,01002,999,9,177,...,0,9,4,10,4,88,88,1,21,11
3,0,6,0,1,1,1,01002,999,9,177,...,0,2,1,1,1,88,88,1,1,1
4,0,6,0,1,1,1,01002,999,9,177,...,0,8,3,10,4,88,88,1,13,7

In [ ]:
# Read in each csv
# Repalce the year column with the full year of the data 
# Concatenate all the dataframes together